<div>
<ul class="list-group sticky-top" *ngIf="current_url[2]=='home' || current_url[2]=='main'">
    <li class="list-group-item pointer border-0 no-outline logo_li" routerLink="admin/home">
        <div class="my-3 text-center">
            <img class="h-100x img-fluid" *ngIf="isExpand" src="../../assets/icons/Nikon-Logo.png" >
            <div class="">
 
            
            </div>
        </div>
    </li>
    <li class="list-group-item pointer border-0 no-outline" [ngClass]="[current_url[2] == '' ? 'bg-dark active' : '']"  (click)="toggleSidebar()" routerLink="">
        <fa-icon class="position-absolute text-secondary" [icon]="faChartLine" size='sm'></fa-icon>
        <span class="ml-5" *ngIf="isExpand">Dashboard</span>
    </li>
    <li class="list-group-item pointer border-0 no-outline" [ngClass]="[current_url[2] == 'home' ? 'bg-dark active' : '']"  (click)="toggleSidebar()" routerLink="/admin/home">
        <fa-icon class="position-absolute text-secondary" [icon]="faHome" size='sm'></fa-icon>
        <span class="ml-5" *ngIf="isExpand">Home</span>
    </li>
    <li class="list-group-item pointer border-0 no-outline" [ngClass]="[current_url[2] == 'login' ? 'bg-dark active' : '']"  (click)="toggleSidebar()" routerLink="/admin/login">
        <fa-icon class="position-absolute text-secondary" [icon]="faLock" size='sm'></fa-icon>
        <span class="ml-5" *ngIf="isExpand">Login</span>
    </li>
    <li class="list-group-item pointer border-0 no-outline" [ngClass]="[current_url[2] == 'main' ? 'bg-dark active' : '']"  (click)="toggleSidebar()" routerLink="/admin/main">
        <fa-icon class="position-absolute text-secondary" [icon]="faChartLine" size='sm'></fa-icon>
        <span class="ml-5" *ngIf="isExpand">Main Menu</span>
    </li>
    <li class="list-group-item pointer border-0 no-outline" [ngClass]="[current_url[2] == '' ? 'bg-dark active' : '']"  (click)="toggleSidebar()" routerLink="/admin/login">
        <fa-icon class="position-absolute text-secondary" [icon]="faSignOutAlt" size='sm'></fa-icon>
        <span class="ml-5" *ngIf="isExpand">Logout</span>
    </li>
  
</ul>
</div>