.button {
    display: inline-block;
    padding: 3px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
  }

  .mat-icon {
    width: 5px;
    height: 5px;
    font-size: 18px;
  }