<div class="d-flex justify-content-center">
    <div class="container col-md-10">
        <div class="ml-3">
        <h2 class="mt-4">China Manager Passwords</h2>
        <h5>Add or remove manager passwords</h5>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-0">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight col-8"><input type="text" class="form-control" style="border:2px solid #f4f4f4;" placeholder="nikonxstuck"></div>
                        <div class="p-2 bd-highlight col-8"><button class="btn btn-danger" style="background:#f83227">Remove</button></div>
                      </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight col-8"><input type="text" class="form-control" style="border:2px solid #f4f4f4;" placeholder="Value123"></div>
                        <div class="p-2 bd-highlight"><button class="btn btn-danger" style="background:#f83227">Remove</button></div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p-0">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight col-8"><input type="text" class="form-control" style="border:2px solid #f4f4f4;" placeholder="Nikon01!"></div>
                        <div class="p-2 bd-highlight"><button class="btn btn-danger" style="background:#f83227">Remove</button></div>
                      </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight col-8"><input type="text" class="form-control" placeholder="Enter new admin pasword" style="border:2px solid #f4f4f4;" value="Enter new admin password"></div>
                        <div class="p-2 bd-highlight"><button class="btn btn-primary text-center" style="width:160%">Add</button></div>
                      </div>
                </div>
            </div>
        </div>