<div class="background d-flex align-items-center justify-content-center">
    <div class="">
        <div class="">
            <img class="imageicon mb-5" src="../../assets/icons/Nikon-Logo.png">
        </div>
        <div class="loginform">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 d-flex">
                        <form class="m-auto">
                        
                            <div class="form-group">
                            <input type="email" class="form-control textbox" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                            </div>
                            <div class="form-group">
                            <input type="password" class="form-control textbox" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <button type="button" class="btn btn-primary textbox" routerLink="/admin/home">Login</button>
                        </form>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>
 