<div>
    <div>
        <p>Global Survey Management</p>
    </div>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" colspan="2">Survey</th>
            <th scope="col" colspan="2">Country</th>
            <th scope="col">Last edited</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of global_survey; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{data.survey}}</td>
            <td><small *ngIf="i!=0" style="color: blue;"><sup>rename</sup></small></td>
            <td>{{data.country}}</td>
            <td><mat-icon *ngIf="i!=0"><sub>edit</sub></mat-icon></td>
            <td>{{data.date}}</td>
            <td><button class="button">View</button></td>
            <td><button class="button" *ngIf="i!=0">Edit</button></td>
            <td><button class="button" *ngIf="i!=0">Delete</button></td>
            <td><button class="button">Copy URL</button></td>
            <td><button class="button">Duplicate survey</button></td>
          </tr>
        </tbody>
      </table>
</div>
